html {
  text-align: center;
  font-family: Helvetica;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

h2 {
  color: white;
}

ul {
  list-style: none;
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.white_text {
  background-image: url(resources/images/the-flatiron-building.png);
}
